.clause-contributor-tab {
	.management-bar {
		padding-top: 104px;

		.reset-to-baseline {
			margin-left: 8px;
		}
	}

	.subnav-tbar {
		.component-label {
			margin-right: 8px;
		}
	}

	.table-divider td {
		text-transform: none;
	}

	.table-cell-maxw-500 {
		max-width: 500px;
	}
}
